.profile {
  width: 400px;
  text-align: center;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  box-shadow:  5px 5px 10px #b0b5ba,
             -5px -5px 10px #eaf1f6;
}
.avatar {
  margin-top: 30px;
  border-radius: 50%;
  width: 200px;
  box-shadow: 9px 9px 18px #cfcfcf, -9px -9px 18px #ffffff;
}

.name {
  margin-top: 30px;
  font-weight: 700;
  font-size: 30px;
}

.tag {
  font-size: 30px;
  color: rgb(131, 131, 131);
}

.location {
  font-size: 30px;
  color: rgb(131, 131, 131);
}

.stats {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.label {
  font-size: 20px;
  color: rgb(131, 131, 131);
}

.quantity {
  font-size: 30px;
  font-weight: 700;
}

.stats_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 150px;
  /* height: 150px; */
  background-color: #eeeeee;
  border: 1px solid rgb(179, 179, 179);
}
