.friend_list {
  list-style: none;
  padding: 0;
}

.item {
  width: 420px;
  margin-bottom: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #b0b5ba, -5px -5px 10px #eaf1f6;
}

.status {
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
  /* width: 10px; */
  background-color: #fa5454;
  box-shadow:  5px 5px 10px #999999,
             -5px -5px 10px #ffffff;
}

.status_online {
  padding: 10px;
  margin-right: 15px;
  border-radius: 50%;
  /* width: 10px; */
  background-color: #338a38;
  box-shadow:  5px 5px 10px #999999,
             -5px -5px 10px #ffffff;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 25px;
  box-shadow:  5px 5px 10px #999999,
             -5px -5px 10px #ffffff;
}

.name {
  margin: 0;
  padding: 0 40px 0 20px;
}
